
<footer>
    <div class="footer">
        
        <div class="footer__contacto">

            <div class="footer__contactoSurcusal">
                
                <p class="footer__contacto-direc">Copyright 2024</p>
                
            </div>
            
            </div>
        </div>
    </div>
</footer>