<!DOCTYPE html>

<html lang="es">

<head>

	<%- include('../partials/head') %>
		<link rel="stylesheet" href="/css/styles-header.css">

		<!-- <link href="/css/styles-productCart.css" rel="stylesheet"> -->
		<link href="/css/admin.css" rel="stylesheet">

		<title>Admin - Sistema Autogestion</title>

</head>

<body>

	<%- include('../partials/header') %>

		<main>
			

			<h1 class="titulo">Listado de Productos</h1>

			<div class="contenedor-carrito">
				
				<div class="seguir-actualizar">
					<a href="/user/register" class="boton-agregar"> <i class="fa-solid fa-plus"></i> Agregar Producto</a>
				</div>

				

			</div>


		</main>

		<%- include('../partials/footer') %>

</body>

</html>